<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Format>json,cobertura,lcov,teamcity,opencover</Format>
          <Exclude>[*]*.g.cs,[*]*GlobalUsings.g.cs,[*]*AssemblyAttributes.cs</Exclude>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <ExcludeByFile>**/*Designer.cs,**/obj/**,**/bin/**</ExcludeByFile>
          <IncludeDirectory>../src</IncludeDirectory>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
  <RunConfiguration>
    <MaxCpuCount>0</MaxCpuCount>
    <ResultsDirectory>./TestResults</ResultsDirectory>
  </RunConfiguration>
  <MSTest>
    <Parallelize>
      <Workers>0</Workers>
      <Scope>method</Scope>
    </Parallelize>
  </MSTest>
</RunSettings>